<div>
  <div>
    <h1>
      <p class="text-primary">Suggested Runs</p>
    </h1>
  </div>
</div>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>


<p>
These are the runs that other users have recomended!
</p>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
        <p class="text-secondary">City
        </th>

        <th>
        <p class="text-success">Start
        </th>

        <th>
          <p class="text-danger">End
        </th>

        <th>
        <p class="text-secondary">Distance
        </th>

        <th>
          <p class="text-secondary">Track Type 
        </th>

        <th>
          <p class="text-secondary">Hills
        </th>

        <th>
          <p class="text-secondary">Runner
        </th>

        <th>
          <p class="text-secondary">Show Details 
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_runs.each do |a_run| %>
      <tr>

        <td>
          <%= a_run.city %>
        </td>

        <td>
          <%= a_run.start %>
        </td>

        <td>
          <%= a_run.end %>
        </td>

        <td>
          <%= a_run.distance %>
        </td>

        <td>
          <%= a_run.track_type %>
        </td>

        <td>
          <%= a_run.hills %>
        </td>

        <td>
          <%= a_run.runner %>
        </td>

      
        <td>
          <a href="/runs/<%= a_run.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      <p class="text-primary">Add a New Run</p>
    </h2>

    <form action="/insert_run" method="post">
      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" placeholder="Enter a city name" name="query_city">
      </div>

      <div>
        <label for="start_box">
          Start
        </label>

        <input type="text" id="start_box" placeholder="where did you start?" name="query_start">
      </div>

      <div>
        <label for="end_box">
          End
        </label>

        <input type="text" id="end_box" placeholder="where did you end up?" name="query_end">
      </div>

      <div>
        <label for="distance_box">
          Distance
        </label>

        <input type="text" id="distance_box" placeholder="in kms" name="query_distance">
      </div>

      <div>
        <label for="track_type_box">
          Track type
        </label>

        <input type="text" id="track_type_box" placeholder="concrete, gravel, or trail" name="query_track_type">
      </div>

      <div>
        <label for="hills_box">
          Hills
        </label>

        <input type="text" id="hills_box" placeholder="Yes/No" name="query_hills">
      </div>
        
      <div>
        <label for="details_box">
          Details
        </label>

        <input type="text" id="details_box" placeholder="Tell us a bit more..." name="query_details">
      </div>

      <div>
        <label for="runner_box">
          Runner
        </label>

        <input type="text" id="runner_box" placeholder="user number?" name="query_runner">
      </div>
      
      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" placeholder="do you have a photo?" name="query_photo">
      </div>

<p>
      <button>
        Create run
      </button>
    </form>
  </div>
</div>
</p>

<p>
<a href="/homepage">
Back to Homepage
</a>
</p>

<hr>


