<div>
  <div>
    <h1>
      <%= @the_run.city %> Run Details 
    </h1>

    <div>
      <div>
        <a href="/runs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_run/<%= @the_run.id %>">
          Delete run
        </a>
      </div>
    </div>

    <dl>
      <dt>
        City
      </dt>
      <dd>
        <%= @the_run.city %>
      </dd>

      <dt>
        Start
      </dt>
      <dd>
        <%= @the_run.start %>
      </dd>

      <dt>
        End
      </dt>
      <dd>
        <%= @the_run.end %>
      </dd>

      <dt>
        Distance
      </dt>
      <dd>
        <%= @the_run.distance %>
      </dd>

      <dt>
        Track type
      </dt>
      <dd>
        <%= @the_run.track_type %>
      </dd>

      <dt>
        Hills
      </dt>
      <dd>
        <%= @the_run.hills %>
      </dd>

      <dt>
        Details
      </dt>
      <dd>
        <%= @the_run.details %>
      </dd>

      <dt>
        Runner
      </dt>
      <dd>
        <%= @the_run.runner %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_run.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_run.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit run
    </h2>

    <form action="/modify_run/<%= @the_run.id %>"  method="post" >
      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_run.city %>">
      </div>

      <div>
        <label for="start_box">
          Start
        </label>

        <input type="text" id="start_box" name="query_start" value="<%= @the_run.start %>">
      </div>

      <div>
        <label for="end_box">
          End
        </label>

        <input type="text" id="end_box" name="query_end" value="<%= @the_run.end %>">
      </div>

      <div>
        <label for="distance_box">
          Distance
        </label>

        <input type="text" id="distance_box" name="query_distance" value="<%= @the_run.distance %>">
      </div>

      <div>
        <label for="track_type_box">
          Track type
        </label>

        <input type="text" id="track_type_box" name="query_track_type" value="<%= @the_run.track_type %>">
      </div>

      <div>
        <label for="hills_box">
          Hills
        </label>

        <input type="text" id="hills_box" name="query_hills" value="<%= @the_run.hills %>">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

        <input type="text" id="details_box" name="query_details" value="<%= @the_run.details %>">
      </div>

      <div>
        <label for="runner_box">
          Runner
        </label>

        <input type="text" id="runner_box" name="query_runner" value="<%= @the_run.runner %>">
      </div>

      <button>
        Update run
      </button>
    </form>
  </div>
</div>

<hr>
